# git ignore file
doc/doxygen
*.suo
*.opensdf
.sconf_temp
examples/benchmark/bench
examples/benchmark/bench.o
examples/benchmark/bench_r.o
examples/benchmark/benchmark.o
examples/bspedupack++/bspbench
examples/bspedupack++/bspbench.o
examples/bspedupack/bspbench
examples/bspedupack/bspbench.o
examples/bspedupack/bspedupack.o
examples/bspedupack/bspfft
examples/bspedupack/bspfft.o
examples/bspedupack/bspfft_test.o
examples/bspedupack/bspinprod
examples/bspedupack/bspinprod.o
examples/bspedupack/bsplu
examples/bspedupack/bsplu.o
examples/bspedupack/bsplu_test.o
examples/bspedupack/bspmv
examples/bspedupack/bspmv.o
examples/bspedupack/bspmv_test.o
examples/get
examples/get.o
examples/hpget
examples/hpget.o
examples/hpput
examples/hpput.o
examples/mpiedupack/mpibench
examples/mpiedupack/mpibench.o
examples/mpiedupack/mpiedupack.o
examples/mpiedupack/mpifft
examples/mpiedupack/mpifft.o
examples/mpiedupack/mpifft_test.o
examples/mpiedupack/mpiinprod
examples/mpiedupack/mpiinprod.o
examples/mpiedupack/mpilu
examples/mpiedupack/mpilu.o
examples/mpiedupack/mpilu_test.o
examples/mpiedupack/mpimv
examples/mpiedupack/mpimv.o
examples/mpiedupack/mpimv_test.o
examples/put
examples/put.o
examples/simplebspcomputation
examples/simplebspcomputation.o
lib/
src/bsp_abort.o
src/bsp_comm_mpi.o
src/bsp_comm_seq.o
src/bsp_cpp/bsp_commandline.o
src/bsp_cpp/bsp_context.o
src/bsp_cpp/bsp_context_ts.o
src/bsp_cpp/bsp_contextimpl.o
src/bsp_cpp/bsp_contextimpl_memreg.o
src/bsp_cpp/bsp_sharedvariableset.o
src/bsp_delivtable.o
src/bsp_exptable.o
src/bsp_global_drma.o
src/bsp_memreg.o
src/bsp_mutex.o
src/bsp_reqtable.o
src/bsp_time.o
src/bsp_www.o
src/bspx.o
tests/bsp_test_collectives
tests/bsp_test_collectives.o
tests/bsp_test_cpp_collectives
tests/bsp_test_cpp_collectives.o
tests/bsp_test_delivtable
tests/bsp_test_delivtable.o
tests/bsp_test_fixtable
tests/bsp_test_fixtable.o
tests/bsp_test_get
tests/bsp_test_get.o
tests/bsp_test_global_drma
tests/bsp_test_global_drma.o
tests/bsp_test_memreg
tests/bsp_test_memreg.o
tests/bsp_test_ops
tests/bsp_test_ops.o
tests/bsp_test_put
tests/bsp_test_put.o
tests/bsp_test_reqtable
tests/bsp_test_reqtable.o
tests/bsp_test_send
tests/bsp_test_send.o
tests/bsp_test_sharedvars
tests/bsp_test_sharedvars.o
/.sconsign.dblite
/Debug/bsponmpi_vs2008.log
/SConsHelpers/__init__.pyc
/SConsHelpers/autoconfig.pyc
/SConsHelpers/blas.pyc
/SConsHelpers/boost.pyc
/SConsHelpers/mpi.pyc
/SConsHelpers/tbb.pyc
/bsponmpi.sdf
/config.log
/examples/benchmark/bench.exe
/examples/benchmark/bench.ilk
/examples/benchmark/bench.obj
/examples/benchmark/bench.pdb
/examples/benchmark/bench_r.obj
/examples/benchmark/benchmark.obj
/examples/bspedupack++/bspbench.exe
/examples/bspedupack++/bspbench.ilk
/examples/bspedupack++/bspbench.obj
/examples/bspedupack++/bspbench.pdb
/examples/bspedupack/bspbench.exe
/examples/bspedupack/bspbench.ilk
/examples/bspedupack/bspbench.obj
/examples/bspedupack/bspbench.pdb
/examples/bspedupack/bspedupack.obj
/examples/bspedupack/bspfft.exe
/examples/bspedupack/bspfft.ilk
/examples/bspedupack/bspfft.obj
/examples/bspedupack/bspfft.pdb
/examples/bspedupack/bspfft_test.obj
/examples/bspedupack/bspinprod.exe
/examples/bspedupack/bspinprod.ilk
/examples/bspedupack/bspinprod.obj
/examples/bspedupack/bspinprod.pdb
/examples/bspedupack/bsplu.exe
/examples/bspedupack/bsplu.ilk
/examples/bspedupack/bsplu.obj
/examples/bspedupack/bsplu.pdb
/examples/bspedupack/bsplu_test.obj
/examples/bspedupack/bspmv.exe
/examples/bspedupack/bspmv.ilk
/examples/bspedupack/bspmv.obj
/examples/bspedupack/bspmv.pdb
/examples/bspedupack/bspmv_test.obj
/examples/get.exe
/examples/get.ilk
/examples/get.obj
/examples/get.pdb
/examples/hpget.exe
/examples/hpget.ilk
/examples/hpget.obj
/examples/hpget.pdb
/examples/hpput.exe
/examples/hpput.ilk
/examples/hpput.obj
/examples/hpput.pdb
/examples/mpiedupack/mpibench.exe
/examples/mpiedupack/mpibench.ilk
/examples/mpiedupack/mpibench.obj
/examples/mpiedupack/mpibench.pdb
/examples/mpiedupack/mpiedupack.obj
/examples/mpiedupack/mpifft.exe
/examples/mpiedupack/mpifft.ilk
/examples/mpiedupack/mpifft.obj
/examples/mpiedupack/mpifft.pdb
/examples/mpiedupack/mpifft_test.obj
/examples/mpiedupack/mpiinprod.exe
/examples/mpiedupack/mpiinprod.ilk
/examples/mpiedupack/mpiinprod.obj
/examples/mpiedupack/mpiinprod.pdb
/examples/mpiedupack/mpilu.exe
/examples/mpiedupack/mpilu.ilk
/examples/mpiedupack/mpilu.obj
/examples/mpiedupack/mpilu.pdb
/examples/mpiedupack/mpilu_test.obj
/examples/mpiedupack/mpimv.exe
/examples/mpiedupack/mpimv.ilk
/examples/mpiedupack/mpimv.obj
/examples/mpiedupack/mpimv.pdb
/examples/mpiedupack/mpimv_test.obj
/examples/put.exe
/examples/put.ilk
/examples/put.obj
/examples/put.pdb
/examples/simplebspcomputation.exe
/examples/simplebspcomputation.ilk
/examples/simplebspcomputation.obj
/examples/simplebspcomputation.pdb
/include/bsp_config.h
/lib/bsponmpi_debug_mt.lib
/lib/bsponmpi_mt.lib
/lib/bsponmpinompi_mt.lib
/src/bsp_abort.obj
/src/bsp_comm_mpi.obj
/src/bsp_comm_seq.obj
/src/bsp_cpp/bsp_commandline.obj
/src/bsp_cpp/bsp_context.obj
/src/bsp_cpp/bsp_context_ts.obj
/src/bsp_cpp/bsp_contextimpl.obj
/src/bsp_cpp/bsp_contextimpl_memreg.obj
/src/bsp_cpp/bsp_sharedvariableset.obj
/src/bsp_delivtable.obj
/src/bsp_exptable.obj
/src/bsp_global_drma.obj
/src/bsp_memreg.obj
/src/bsp_mutex.obj
/src/bsp_reqtable.obj
/src/bsp_time.obj
/src/bsp_www.obj
/src/bspx.obj
/tests/bsp_test_collectives.exe
/tests/bsp_test_collectives.ilk
/tests/bsp_test_collectives.obj
/tests/bsp_test_collectives.passed
/tests/bsp_test_collectives.pdb
/tests/bsp_test_cpp_collectives.exe
/tests/bsp_test_cpp_collectives.ilk
/tests/bsp_test_cpp_collectives.obj
/tests/bsp_test_cpp_collectives.passed
/tests/bsp_test_cpp_collectives.pdb
/tests/bsp_test_delivtable.exe
/tests/bsp_test_delivtable.ilk
/tests/bsp_test_delivtable.obj
/tests/bsp_test_delivtable.passed
/tests/bsp_test_delivtable.pdb
/tests/bsp_test_fixtable.exe
/tests/bsp_test_fixtable.ilk
/tests/bsp_test_fixtable.obj
/tests/bsp_test_fixtable.passed
/tests/bsp_test_fixtable.pdb
/tests/bsp_test_get.exe
/tests/bsp_test_get.ilk
/tests/bsp_test_get.obj
/tests/bsp_test_get.passed
/tests/bsp_test_get.pdb
/tests/bsp_test_global_drma.exe
/tests/bsp_test_global_drma.ilk
/tests/bsp_test_global_drma.obj
/tests/bsp_test_global_drma.passed
/tests/bsp_test_global_drma.pdb
/tests/bsp_test_memreg.exe
/tests/bsp_test_memreg.ilk
/tests/bsp_test_memreg.obj
/tests/bsp_test_memreg.passed
/tests/bsp_test_memreg.pdb
/tests/bsp_test_ops.exe
/tests/bsp_test_ops.ilk
/tests/bsp_test_ops.obj
/tests/bsp_test_ops.passed
/tests/bsp_test_ops.pdb
/tests/bsp_test_put.exe
/tests/bsp_test_put.ilk
/tests/bsp_test_put.obj
/tests/bsp_test_put.passed
/tests/bsp_test_put.pdb
/tests/bsp_test_reqtable.exe
/tests/bsp_test_reqtable.ilk
/tests/bsp_test_reqtable.obj
/tests/bsp_test_reqtable.passed
/tests/bsp_test_reqtable.pdb
/tests/bsp_test_send.exe
/tests/bsp_test_send.ilk
/tests/bsp_test_send.obj
/tests/bsp_test_send.passed
/tests/bsp_test_send.pdb
/tests/bsp_test_sharedvars.exe
/tests/bsp_test_sharedvars.ilk
/tests/bsp_test_sharedvars.obj
/tests/bsp_test_sharedvars.passed
/tests/bsp_test_sharedvars.pdb
/vc100.pdb
/x64/Debug/bsponmpi_vs2008.log