# git ignore file
*.suo
*.opensdf
,sconf_temp
,sconf_temp/*
/.sconf_temp/conftest_0.cpp
/.sconf_temp/conftest_1.cpp
/.sconf_temp/conftest_1.obj
/.sconf_temp/conftest_2.cpp
/.sconf_temp/conftest_2.exe
/.sconf_temp/conftest_2.ilk
/.sconf_temp/conftest_2.obj
/.sconf_temp/conftest_2.pdb
/.sconf_temp/conftest_3.c
/.sconf_temp/conftest_3.obj
/.sconf_temp/conftest_3.pdb
/.sconsign.dblite
/Debug/bsponmpi_vs2008.log
/SConsHelpers/__init__.pyc
/SConsHelpers/autoconfig.pyc
/SConsHelpers/blas.pyc
/SConsHelpers/boost.pyc
/SConsHelpers/mpi.pyc
/SConsHelpers/tbb.pyc
/config.log
/examples/benchmark/bench.exe
/examples/benchmark/bench.ilk
/examples/benchmark/bench.obj
/examples/benchmark/bench.pdb
/examples/benchmark/bench_r.obj
/examples/benchmark/benchmark.obj
/examples/bspedupack++/bspbench.exe
/examples/bspedupack++/bspbench.ilk
/examples/bspedupack++/bspbench.obj
/examples/bspedupack++/bspbench.pdb
/examples/bspedupack/bspbench.exe
/examples/bspedupack/bspbench.ilk
/examples/bspedupack/bspbench.obj
/examples/bspedupack/bspbench.pdb
/examples/bspedupack/bspedupack.obj
/examples/bspedupack/bspfft.exe
/examples/bspedupack/bspfft.ilk
/examples/bspedupack/bspfft.obj
/examples/bspedupack/bspfft.pdb
/examples/bspedupack/bspfft_test.obj
/examples/bspedupack/bspinprod.exe
/examples/bspedupack/bspinprod.ilk
/examples/bspedupack/bspinprod.obj
/examples/bspedupack/bspinprod.pdb
/examples/bspedupack/bsplu.exe
/examples/bspedupack/bsplu.ilk
/examples/bspedupack/bsplu.obj
/examples/bspedupack/bsplu.pdb
/examples/bspedupack/bsplu_test.obj
/examples/bspedupack/bspmv.exe
/examples/bspedupack/bspmv.ilk
/examples/bspedupack/bspmv.obj
/examples/bspedupack/bspmv.pdb
/examples/bspedupack/bspmv_test.obj
/examples/get.exe
/examples/get.ilk
/examples/get.obj
/examples/get.pdb
/examples/hpget.exe
/examples/hpget.ilk
/examples/hpget.obj
/examples/hpget.pdb
/examples/hpput.exe
/examples/hpput.ilk
/examples/hpput.obj
/examples/hpput.pdb
/examples/mpiedupack/mpibench.exe
/examples/mpiedupack/mpibench.ilk
/examples/mpiedupack/mpibench.obj
/examples/mpiedupack/mpibench.pdb
/examples/mpiedupack/mpiedupack.obj
/examples/mpiedupack/mpifft.exe
/examples/mpiedupack/mpifft.ilk
/examples/mpiedupack/mpifft.obj
/examples/mpiedupack/mpifft.pdb
/examples/mpiedupack/mpifft_test.obj
/examples/mpiedupack/mpiinprod.exe
/examples/mpiedupack/mpiinprod.ilk
/examples/mpiedupack/mpiinprod.obj
/examples/mpiedupack/mpiinprod.pdb
/examples/mpiedupack/mpilu.exe
/examples/mpiedupack/mpilu.ilk
/examples/mpiedupack/mpilu.obj
/examples/mpiedupack/mpilu.pdb
/examples/mpiedupack/mpilu_test.obj
/examples/mpiedupack/mpimv.exe
/examples/mpiedupack/mpimv.ilk
/examples/mpiedupack/mpimv.obj
/examples/mpiedupack/mpimv.pdb
/examples/mpiedupack/mpimv_test.obj
/examples/put.exe
/examples/put.ilk
/examples/put.obj
/examples/put.pdb
/examples/simplebspcomputation.exe
/examples/simplebspcomputation.ilk
/examples/simplebspcomputation.obj
/examples/simplebspcomputation.pdb
/include/bsp_config.h
/lib/bsponmpi_debug_mt.lib
/src/bsp_abort.obj
/src/bsp_comm_mpi.obj
/src/bsp_comm_seq.obj
/src/bsp_cpp/bsp_commandline.obj
/src/bsp_cpp/bsp_context.obj
/src/bsp_cpp/bsp_context_ts.obj
/src/bsp_cpp/bsp_contextimpl.obj
/src/bsp_cpp/bsp_contextimpl_memreg.obj
/src/bsp_cpp/bsp_sharedvariableset.obj
/src/bsp_delivtable.obj
/src/bsp_exptable.obj
/src/bsp_global_drma.obj
/src/bsp_memreg.obj
/src/bsp_mutex.obj
/src/bsp_reqtable.obj
/src/bsp_time.obj
/src/bsp_www.obj
/src/bspx.obj
/vc100.pdb
/x64/Debug/bsponmpi_vs2008.log